#MasterHeader {
  display: flex;
  justify-content: space-between;
}

#SecondaryHeader {
  display: flex;
  width: max-content
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  /* find font */
  font-size: 25px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  /* find font*/
  font-size: 14px;
}

header ul {
  display: flex;
  width: max-content
}

#BackgroundMaster {
  background-image: url("img/hr-img.png");
  /* figure out background img */
}

#recipeHeader {
  display: flex;
  justify-content: space-between;
}

#print {
  display: flex;
}

#print img {
  align-self: center;
}

#print p {
  height: max-content;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 14px;
}

#recipeInstructions {
  display: flex;
  justify-content: space-between;
}

#recipeInstructions p {
  margin-bottom: 20px;
}

.ingredients {
  display: flex;
  flex-direction: column;
}

#ingredientDiv {
  display: flex;
  background-image: url(/img/list-bg.png);
  background-repeat: no-repeat;
  width: max-content;
}

#ingredientSection {
  width: 100%;
  display: flex;
  justify-content: center;

}

#bio {
  display: flex;
  justify-content: space-between;
}

h5 {
  font-size: 18px;
}

footer {
  text-align: center;
}

#footerImage {
  margin-bottom: 20px;
}

.break {
  background-image: url(/img/hr-img.png);
  width: 100%;
  margin-bottom: 20px;
}